<ul id='menu' class="menu">
	<li class="b"><%=raw link_to_unless ['dashboard'].include?(params[:controller]), "<span><span><span>Dashboard</span></span></span>", home_path %></li>
	<li class="a"><%=raw link_to_unless ['projects'].include?(params[:controller]), "<span><span><span>Projects</span></span></span>", projects_path %></li>
	<li class="c"><%=raw link_to_unless ['members'].include?(params[:controller]), "<span><span><span>Members</span></span></span>", members_path %></li>
	<li class="c"><%=raw link_to_unless ['users'].include?(params[:controller]), "<span><span><span>Users</span></span></span>", users_path %></li>
	<li class="d"><%=raw link_to_unless ['companies'].include?(params[:controller]), "<span><span><span>Company</span></span></span>", "company_path" %></li>
</ul>
